.nav-link {
  font-size: 1.3rem;
}

.play-button:hover {
  background-color: #198754;
  color: #fff;
}

iframe {
  width: 450px;
  height: 300px;
}

.biopic {
  border-radius: 50%;  
}

.biotext span {
  font-size: 2.5rem;  
}

.biotext a {
  color: #000;
}

.biotext p {
  font-size: 1.2rem;
}

.biotext a:hover {
  color: rgb(95, 95, 95);
}

.list-group span {
  font-size: 1.2rem;
  color: #198754;
}